:root {
    --ftsizeTitle: clamp(3em, 4.5vw, 9em);
    --ftsizeMenu: clamp(1em, 1.5vw, 3em);
    --menuLogoHeight: clamp(2em, 3vw, 6em);
    --menuConnectButtonHeight: clamp(2.5em, 3.5vw, 7.5em);

    --ftsizeTitleSection: clamp(2em, 3vw, 9em);
    --ftsizeSecondaryTitle: clamp(1.5em, 1.5vw, 6em);
    --ftsizeTextSection: clamp(1em, 1vw, 3em);

    --ftsizeFrameTitle: clamp(1.2em, 1.3vw, 4.5em);
    --ftsizeFrameText: clamp(.8em, .9vw, 3em);

    --ftsizeMintInfo: clamp(.7em, 1.2vw, 2em);
    --ftsizeSmallText:  clamp(.7em, .8vw, 2em);
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color:  #ffae6d;
}

* {
    box-sizing: border-box;
}

mark {
    background-color: transparent;
    font-weight: bold;
}

li {
    list-style: none;
}

main {
    display:  flex;
    flex-direction: column;
}

section {
    position:  relative;
}

.bold {
    font-weight: bold;
}

/* ----------------------------------- */
/* ---------- INTRO SECTION ---------- */
/* ----------------------------------- */
.intro {
    background: url(content/images/intro_bckgrnd.webp) no-repeat top center;
    background-size: cover;
    height:  100vh;
    display:  flex;
    flex-direction:  column;
    place-items:  center;
}

/* INTRO - MENU */
.menu,
.menu__item__left,
.menu__item__left > ul,
.menu__item__right,
.menu__item__right > ul {
    display:  flex;
    flex-wrap:  wrap;
    justify-content:  space-around;
    align-items:  center;
    padding: 0;
}

.menu {
    width:  100%;
}   

.textLogo {
    height: var(--menuLogoHeight);
    margin: 0.5em 2em 0em 2em;
}

.menu > nav > ul > li {
    margin: 0em .5em;
}

.menu > nav > ul > li > a {
    padding: .2em;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--ftsizeMenu);
    color: #ffffff;
}

.menu__item__right > ul {
    display: none;
}

.menu__logo {
    height: var(--menuLogoHeight);
}
@media only screen and (min-width: 1000px) {
    .menu__item__right > ul {
        display: flex;
    }
}

.connect__button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(var(--menuConnectButtonHeight)*5);
    height: var(--menuConnectButtonHeight);
    background-color: #111111;
    border-radius: var(--menuConnectButtonHeight);
}

.connect__button h2 {
    font-size: var(--ftsizeMenu);
    color: #FFFFFF;
    text-decoration: none;
    margin: 0px;
}

#showAccount {
    margin: 0px;
    color: #FFFFFF;
    font-size: calc(var(--ftsizeSmallText)*0.8);
}

.egg__image {
    margin-top: 10px;
    height: max(45vw, 45vh);
    max-height: min(55vh, 55vw);
}

.mainTitle {
    position: absolute;
    bottom: 5vh;
    width: 45vw;
    min-width: 270px;
}

.intro__infos > h1 {
    color: #ffffff;
    font-size: var(--ftsizeTitle);
    text-shadow:
    -3px -3px 0 #000,
     0   -3px 0 #000,
     3px -3px 0 #000,
     3px  0   0 #000,
     3px  3px 0 #000,
     0    3px 0 #000,
    -3px  3px 0 #000,
    -3px  0   0 #000;
    text-align: center;
    margin: 0;
}

.intro__infos > h2 {
    color: #ffffff;
    font-size: var(--ftsizeSecondaryTitle);
    text-shadow:
    -2px -2px 0 #000,
     0   -2px 0 #000,
     2px -2px 0 #000,
     2px  0   0 #000,
     2px  2px 0 #000,
     0    2px 0 #000,
    -2px  2px 0 #000,
    -2px  0   0 #000;
    text-align: center;
    margin: 0;
}


/* Menu transitions */

.menu__item__left a,
.menu__item__left ul li a,
.menu__item__right ul li a {
    display:  inline-block;
    transition:  .2s ease-in-out;
}

.menu__item__left a:hover,
.menu__item__left ul li a:hover {
    transform: rotate(-5deg);
}

.menu__item__right ul li a:hover {
    transform: rotate(-10deg);
}

/* ---------------------------------- */
/* ---------- MINT SECTION ---------- */
/* ---------------------------------- */

.mint__section {
    width: 90%;
    display: none; /* turn to flex to enable */
    flex-direction: column;
    place-items: center;
    margin: 0px auto 20px auto;
}

@media only screen and (min-width: 1000px) {
    .mint__section {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .mint__section {
        width: 60%;
    }
}

.mint__section h1 {
    font-size: var(--ftsizeTitleSection);
    text-align: center;
    margin-bottom: 0px;
    color: #8B2931;
}


.remainingEggsInfos {
    width: 50%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
    .remainingEggsInfos > h2 {
        text-align: center;
        color: #ffffff;
        font-size: var(--ftsizeTextSection);
        margin: 0;
    }

    .remainingEggsInfos > h3 {
        text-align: center;
        color: #ffffff;
        font-size: var(--ftsizeSecondaryTitle);
        margin: 0;
    }

.frameFreeMint {
    display: grid;
    place-items: center;
    height: calc(var(--menuConnectButtonHeight)*2);
}

.freeMintButton {
    display: none;
    cursor: pointer;
    text-align: center;
    line-height: 90%;
    font-size: calc(var(--ftsizeMenu)*1.1);
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
    width: calc(var(--menuConnectButtonHeight)*5*1.1);
    height: calc(var(--menuConnectButtonHeight)*1.1);
    background-color: #FF8566;
    border-radius: calc(var(--menuConnectButtonHeight)*1.1);
    border: 5px solid #ffffff;
    transition: all .25s ease-in-out;
}

    .freeMintButton:hover {
        background-color: #6dbfff;
        width: calc(var(--menuConnectButtonHeight)*5*1.1*1.1);
        height: calc(var(--menuConnectButtonHeight)*1.1*1.1);
        font-size: calc(var(--ftsizeMenu)*1.1*1.1);
    }

.mint__section__buttonsframe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

        .mint__section__buttonsframe div {
            position: relative;
            margin: 15px auto;
            width: clamp(200px, 30%, 1400px);
            aspect-ratio: .75;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 40px;
        }

            .mint__section__buttonsframe div h2 {
                margin: 0px;
                text-align: center;
                color: #8B2931;
                font-size: var(--ftsizeSecondaryTitle);
            }

            .mint__section__buttonsframe div span {
                margin: 0px;
                text-align: center;
                color: #000000;
                font-size: var(--ftsizeTextSection);
            }

    .mint__button__Eggimg {
        height: clamp(120px, 55%, 1400px);
        aspect-ratio: 1;
    }

    .mint__section__buttonsframe > div > div {
        height: 20%;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mint__button {
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: var(--ftsizeSecondaryTitle);
        width: clamp(150px, 75%, 1400px);
        height: calc(var(--ftsizeSecondaryTitle)*1.25);
        background-color: #EF2148;
        border-radius: calc(var(--ftsizeSecondaryTitle)*1.25);
        transition: all .25 ease-in-out;
    }

    .mint__button:hover {
        background-color: #6dbfff;
    }

.mint__section__buttonsframe__3 {
    background-image: url(content/images/discount10.webp);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 5px;
    background-position-y: 5px;
}

.mint__section__buttonsframe__10 {
    background-image: url(content/images/discount20.webp);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 5px;
    background-position-y: 5px;
}

/* ----------------------------------- */
/* -------------- ABOUT -------------- */
/* ----------------------------------- */

.about__section {
    width: 90%;
    display: flex; /* turn to flex to enable */
    flex-direction: column;
    place-items: center;
    margin: 0px auto 20px auto;
}

@media only screen and (min-width: 1000px) {
    .about__section {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .about__section {
        width: 60%;
    }
}

.about__section > h1 {
    font-size: var(--ftsizeTitleSection);
    text-align: center;
    margin-bottom: 0px;
    color: #8B2931;
}

.about__section > p {
    font-size: var(--ftsizeTextSection);
    text-align: center;
    margin-bottom: 0px;
    color: #ffffff;
}

.about__section > img {
    width: 70%;
    min-width: 270px;
    margin: 20px auto 40px auto;
}

.about__section > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

    .about__section > div > div {
        position: relative;
        width: 30%;
        aspect-ratio: 1.25;
        min-width: 270px;
        background-color: #fb954a;
        border-radius: 20px;
        border: solid 3px #AF3225;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto 50px auto;
    }

    .about__section > div > div > img {
        position:  absolute;
        top: 0;
        transform: translateY(-50%);
        width: 50%;
    }

    .about__section > div > div > h2 {
        color: #AF3225;
        font-size: var(--ftsizeSecondaryTitle);
        text-align: center;
        margin-top: 25%;
        margin-bottom: 0;
    }

    .about__section > div > div > p {
        color: #ffffff;
        font-size: var(--ftsizeTextSection);
        text-align: justify;
        margin: 10px;
    }

@media only screen and (min-width: 950px) {
    .about__section > div > div:nth-child(2) {
        transform: translateY(10%);
    }
}



/* ----------------------------------- */
/* -------------- $YOLK -------------- */
/* ----------------------------------- */

.yolk__section {
    width: 90%;
    display: flex; /* turn to flex to enable */
    flex-direction: column;
    place-items: center;
    margin: 0px auto 100px auto;
}

@media only screen and (min-width: 1440px) {
    .yolk__section {
        width: 75%;
    }
}

.yolk__section > h1 {
    font-size: var(--ftsizeTitleSection);
    text-align: center;
    margin: 0px auto;
    color: #8B2931;
}

.yolk__section > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.yolk__section > div > .text_div {
    flex: 1 1 65%;
    min-width: 250px;
    padding: 0px 50px;
}

.yolk__section > div > .image_div {
    flex: 1 1 35%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toLeft > div > h2 {
    color: #FEDB2A;
    margin-bottom: 0;
    font-size: calc(var(--ftsizeSecondaryTitle)*1.1);
}

.toRight > div > h2 {
    color: #FEDB2A;
    margin-bottom: 0;
    font-size: calc(var(--ftsizeSecondaryTitle)*1.4);
}

.yolk__section > div > div > p {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--ftsizeTextSection);
}

.imageContainerYolk > img {
    width: 65%;
    min-width: 200px;
    aspect-ratio: 1;
    transform: translateX(20%);
}

.imageContainerEgg > img {
    width: 70%;
    min-width: 250px;
    aspect-ratio: 1;
    transform: translateX(-20%);
}


.toRight > div > h2,
.toRight > div > p {
    text-align: right;
}


.bold_p {
    color: #ffffff;
    font-weight: bold;
}

/* ----------------------------------- */
/* ------------- KITCHEN-------------- */
/* ----------------------------------- */

.kitchen__section_backgrnd {
    padding: 25px 0;
    width: 100%;
    background-color: #8B2931;
    z-index: -10;
}

.kitchen__section {
    width: 90%;
    min-width: 280px;
    min-height: 10vh;
    display: flex; /* turn to flex to enable */
    flex-direction: column;
    place-items: center;
    margin: 0px auto 20px auto;
}

@media only screen and (min-width: 1440px) {
    .kitchen__section {
        width: 75%;
    }
}

.kitchen__section > h1 {
    font-size: var(--ftsizeTitleSection);
    text-align: center;
    margin-bottom: 0px;
    color: #ffffff;
}

.kitchen__section > p {
    font-size: var(--ftsizeTextSection);
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.kitchen__section > p > mark {
    font-size: var(--ftsizeTextSection);
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
}

.kitchen__section > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.kitchen__section > div > div {
    width: 50%;
    min-width: 280px;
}

.kitchen__section > div > div > span {
    display: flex;
    align-items: center;
    justify-content: start;
}

.kitchen__section > div > div > span > img {
    height: var(--menuLogoHeight);
    aspect-ratio: 1;
    margin-right: 5px;
}

.kitchen__section > div > div > span > h2 {
    font-size: var(--ftsizeTitleSection);
    color: #ffffff;
}

.kitchen__section > div > div > p {
    font-size: var(--ftsizeTextSection);
    color: #ffffff;
}

.DishNFTContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.polaroidDish {
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 2px;
    width: 25vw;
    aspect-ratio: 1;
    min-width: 250px;
    position: relative;
    display: grid;
    place-items: center;
}


.polaroidDish:before,
.polaroidDish:after{
    content: "";
    position: absolute;
    width: 51.7%;
    height: 96%;
    top: 2%;
    z-index: -1;
  }
  
  /* Left shadow */
  .polaroidDish:before {
    left: 3%;
    box-shadow: rgba(0,0,0,0.25) -20px 15px 5px;
    transform: rotate(-2deg);
  }
  
  /* Right shadow */
  .polaroidDish:after {
    right: 3%;
    box-shadow: rgba(0,0,0,0.25) 20px 15px 5px;
    transform: rotate(2deg);
  }

.polaroidDish > video {
    width: 90%;
    aspect-ratio: 1;
    border-radius: 2px;
}


/* ----------------------------------- */
/* ------------- RARITY -------------- */
/* ----------------------------------- */

.rarity__section {
    width: 90%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px auto 150px auto;
}

@media only screen and (min-width: 1440px) {
    .rarity__section {
        width: 75%;
    }
}

.rarity__section > div {
    width: 90%;
    min-width: 280px;
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px #6dbfff;
    padding: 0px 50px;
}

.rarity__section > div > div {
    width: 50%;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    height: 100%;
    font-size: var(--ftsizeTextSection);
    color: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rarity__section > div > div > h2 {
    width: 100%;
    text-align: left;
    font-size: var(--ftsizeTitleSection);
    color: #8B2931;
}

.rarity__section > div > div > div {
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: solid 1px #a0a0a0;
}

.rarityNumber {
    font-size: var(--ftsizeTitleSection);
    font-weight: bold;
}

.rarityName {
    font-size: var(--ftsizeSecondaryTitle);
    color: #6dbfff;
    letter-spacing: 2px;
}

.polaroid {
    background-color: #ffffff;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    border-radius: 2px;
    width: 30vw;
    aspect-ratio: 1;
    min-width: 250px;
    position: relative;
}

.polaroid > img {
    width: 90%;
    aspect-ratio: 1;
    margin: 0 auto;
    border-radius: 2px;
}

.rt15 {
    transform: rotate(7.5deg);
    min-width: 280px;
}

@media only screen and (min-width: 700px) {
    .rarity__section > div > div > .polaroid {
        transform: translateX(30%);
    }
}


/* ----------------------------------- */
/* ------------- GALLERY ------------- */
/* ----------------------------------- */
.gallery__section {
    position: relative;
    width: 100%;
    height: clamp(300px, 50vw, 600px);
}


.animatedGallery {
    height: 100%;
    width: 100%;
    background: url(content/images/gallery.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: animatedGallery 600s linear infinite;
}

.animatedGallery div {
    width: 100%;
    height: 100%;
    background: url(content/images/galleryfilter.webp);
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: auto 200px;
    
}

@keyframes animatedGallery {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: -30000px 0;
    }
}



/* ----------------------------------- */
/* ------------- ROADMAP ------------- */
/* ----------------------------------- */

.roadmap__section {
    width: 100%;
    background: #8B2931;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roadmap__section > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0px auto 20px auto;
}

@media only screen and (min-width: 1440px) {
    .roadmap__section > div {
        width: 75%;
    }
}

.roadmap__section > div > h1 {
    font-size: var(--ftsizeTitleSection);
    text-align: center;
    margin-bottom: 0px;
    color: #ffffff;
}

.roadmap__section > div > p {
    font-size: var(--ftsizeTextSection);
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.roadmap__section > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.roadmap__section > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}

.roadmap__section > div > div > div > h2,
.roadmap__section > div > div > div > p,
.roadmap__section > div > div > div > p > strong {
    text-align: center;
    color: #ffae6d;
    font-size: var(--ftsizeTextSection);
}

.roadmap__section > div > div > div > h2,
.roadmap__section > div > div > div > p > strong {
    font-weight: bold;
}

.roadmap__section > div > div > div > h2,
.roadmap__section > div > div > div > p {
    margin: 0 25px;
}




.roadmap__section > img {
    width: 100%;
    height: auto;
    margin: 25px 0 100px 0;
}






/* ----------------------------------- */
/* --------------- FAQ --------------- */
/* ----------------------------------- */


.faq__section:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0px;
    height: 20px;
    width: 100%;
    background-image: url(content/images/triangle1.webp);
    background-size: auto 20px;
    background-repeat: repeat-x;
    background-position-x: 0px;
    background-position-y: 0px;
    pointer-events: none;
}

.faq__section {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.faq__section__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

@media only screen and (min-width: 1000px) {
    .faq__section__content {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .faq__section__content {
        width: 60%;
    }
}

.faq__section__content h1 {
    margin-bottom: 0px;
    width: 90%;
    text-align: center;
    font-size: var(--ftsizeTitleSection);
    color: #8B2931;
}

.faq__section__content div {
    margin: 15px;
    padding: 15px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: #111111 10px 10px;
}

.faq__section__content h2 {
    color: #111111;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: var(--ftsizeTextSection);
}

.faq__section__content p {
    margin-top: 5px;
    color: #111111;
    font-size: var(--ftsizeTextSection);
}

/* ----------------------------------- */
/* -------------- TEAM --------------- */
/* ----------------------------------- */
.team__section {
    width: 100%;
    margin-bottom: 50px;
}

.team__section__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

@media only screen and (min-width: 1000px) {
    .team__section__content {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .team__section__content {
        width: 60%;
    }
}

.team__section__content h1 {
    text-align: center;
    font-size: var(--ftsizeTitleSection);
    color: #FFFFFF;
    text-shadow: 4px 4px 1px #111111;
}

.team__section__content div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.team__section__content div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: .75;
    width: 25%;
    min-width: 200px;
    max-width: 500px;
    position: relative;
    margin: .5em 0em;
}

    .team__section__content div div img {
        margin-bottom: 10px;
        border-radius: 50%;
        min-width: 100px;
        max-width: 400px;
        width: 80%;
    }

    .team__section__content div div a {
        padding: 5px;
        text-decoration: none;
        margin-bottom: 0px;
        font-size: var(--ftsizeTextSection);
        color: #FFFFFF;
    }

    .team__section__content div div h3 {
        margin-top: 5px;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: var(--ftsizeTextSection);
        color: #8B2931;
    }
.team__section__content p {
    margin-top: 40px;
    font-size: var(--ftsizeTextSection);
    color: #FFFFFF;
    text-align:center;
}

/* ----------------------------------- */
/* ------------- FOOTER -------------- */
/* ----------------------------------- */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8B2931;
    padding-top: 15px;
}

.contract {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contract h3 {
    margin-right: 5px;
    font-weight: bold;
    font-size: var(--ftsizeSmallText);
    color: #FFFFFF;
}

.contract span {
    font-size: var(--ftsizeSmallText);
    color: #FFFFFF;
}

.footer__Menu {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 15px 15px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1000px) {
    .footer__Menu {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 15px 15px 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__Menu ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    .footer__Menu ul li {
        margin-left: 10px;
        margin-right: 10px;
    }

.footer__logo {
    height: var(--menuLogoHeight);
}

.textlogo {
    height: var(--menuLogoHeight);
}





/* -------- Pop-up FreeMint -------- */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    zindex: 1;
    width: 100%;
    height: 100%;
}

.freeMintPopUp {
    z-index: 10;
    position: fixed;
    top: 25vh;
    left: 50vw;
    transform: translateX(-50%);
    display: none; /* turn to flex to enable */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popUpBox {
    min-width: 250px;
    width: 50vw;
    background-color: whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popUpBox > p {
    width: 90%;
    margin: 1em auto;
    font-size: var(--ftsizeTextSection);
}

.remainingFreeEggs {
    margin: 0 auto;
}


.popUpBox > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.popUpBox > div > a {
    width: 30%;
    min-width: 150px;
    height: calc(var(--ftsizeTextSection)*2);
    border-radius: calc(var(--ftsizeTextSection)*2);
    margin: 1em;
    display: grid;
    place-items: center;
    font-size: var(--ftsizeTextSection);
    line-height: 90%;
}

.popUpBox > h3 {
    font-size: var(--ftsizeSecondaryTitle);
    width: 100%;
    background: #FF8566;
    margin: 0px;
    padding: .5em;
    color: #ffffff;
}

.popUpButton {
    cursor: pointer;
    text-decoration: none;
    background-color: #FF8566;
    margin-bottom: 33px;
    color: #ffffff;
}

.popUpButton:hover {
    background-color: #6dbfff;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}

.close-button {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
    position: absolute;
    background-color: #FF8566;
    padding: 1.5px 7px;
    right: 0;
    top: 0;
    margin-right: -13px;
    margin-top: -13px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: white;
    box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
}

.close-button:hover {
    background-color: #8B2931;
    color: #fff;
}

/* Blur Effect */
.blur-in {
    animation: blur 1s forwards;
}

.blur-out {
    animation: blur-out 1s forwards;
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(4px);
    }
}

@keyframes blur-out {
    0% {
        filter: blur(4px);
    }

    100% {
        filter: blur(0px);
    }
}


/* --------- LOADING SCREEN ---------- */

.loading {
    z-index: 5;
    position: fixed;
    top: 30vh;
    left: 50vw;
    transform: translateX(-50%);
    display: none; /* turn to flex to enable */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(20vw, 15vh);
    height: min(20vw, 15vh);
}

.dot {
      width: 25%;
      aspect-ratio: 1;
      display: block;
      position: absolute;
      bottom: 0;
      border-radius: 50%;
      background-color: #E0632D;
      transform: translateY(-50%);
      animation: loading-dot 1.2s ease-in-out infinite;
}

.dot1 {
    left: 7.5%;
}

.dot2 {
    left: 37.5%;
    animation-delay: 0.2s;
}

.dot3 {
    left: 67.5%;
    animation-delay: 0.4s;
}

@keyframes loading-dot {
  0% {
    background-color: #E0632D;
    bottom: 0;
  }
  50% {
    background-color: #FFFFEC;
    bottom: 50%;
  }
  100% {
    background-color: #E0632D;
    bottom: 0;
  }
}