:root {
    --ftsizeMenu: clamp(1em, 1.5vw, 3em);
    --menuLogoHeight: clamp(2em, 3vw, 6em);
    --menuConnectButtonHeight: clamp(2.5em, 3.5vw, 7.5em);

    --ftsizeTitleSection: clamp(2em, 3vw, 9em);
    --ftsizeSecondaryTitle: clamp(1.5em, 2vw, 6em);
    --ftsizeTextSection: clamp(1em, 1vw, 3em);

    --ftsizeMintInfo: clamp(.7em, 1.2vw, 2em);
    --ftsizeSmallText:  clamp(.7em, .8vw, 2em);
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color:  #FFAD07;
}

* {
    box-sizing: border-box;
}

mark {
    background-color: transparent;
    font-weight: bold;
}

li {
    list-style: none;
}

main {
    display:  flex;
    flex-direction: column;
}

section {
    position:  relative;
}

/* ----------------------------------- */
/* ---------- INTRO SECTION ---------- */
/* ----------------------------------- */
.intro {
    background: url(content/images/intro_bckgrnd.webp) no-repeat bottom left;
    background-size: cover;
    height:  100vh;
    display:  flex;
    flex-direction:  column;
    place-items:  center;
}

/* INTRO - MENU */
.menu,
.menu__item__left,
.menu__item__left > ul,
.menu__item__right,
.menu__item__right > ul {
    display:  flex;
    flex-wrap:  wrap;
    justify-content:  space-around;
    align-items:  center;
    padding: 0;
}

.menu {
    width:  100%;
}   

.textLogo {
    height: var(--menuLogoHeight);
    margin: .5em 2em .5em 2em;
}

.menu > nav > ul > li {
    margin: .5em;
}

.menu > nav > ul > li > a {
    padding: .2em;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--ftsizeMenu);
    color: #ffffff;
}

.menu__item__right > ul {
    display: none;
}

.menu__logo {
    height: var(--menuLogoHeight);
}
@media only screen and (min-width: 900px) {
    .menu__item__right > ul {
        display: flex;
    }
}

.connect__button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(var(--menuConnectButtonHeight)*5);
    height: var(--menuConnectButtonHeight);
    background-color: #111111;
    border-radius: var(--menuConnectButtonHeight);
}

.connect__button h2 {
    font-size: var(--ftsizeMenu);
    color: #FFFFFF;
    text-decoration: none;
    margin: 0px;
}

#showAccount {
    margin: 0px;
    color: #FFFFFF;
    font-size: .5rem;
}

.egg__image {
    margin-top: 10px;
    height: max(50vw, 50vh);
    max-height: min(60vh, 60vw);
}

.intro__infos {
    position:  absolute;
    bottom:  5vh;
    background-color: #8B2931;
    width: 50%;
    min-width: 270px;
    height: clamp(2.5em, 3.5vw, 7.5em);
    border-radius: clamp(2.5em, 3.5vw, 7.5em);
    border: 5px solid #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}

    .intro__infos > span,
    .intro__infos > a {
        color: white;
        box-sizing: content-box;
        width: 30%;
        text-align: center;
        text-decoration:  none;
    }

.remaining__eggs {
    font-weight: bold;
    font-size: var(--ftsizeMenu);
    line-height: 200%;
    height: 100%;
    border: 5px solid #FFFFFF;
    align-items: center
}

.mint_info_text {
    font-size: var(--ftsizeMintInfo);
}

/* Menu transitions */

.menu__item__left a,
.menu__item__left ul li a,
.menu__item__right ul li a {
    display:  inline-block;
    transition:  .2s ease-in-out;
}

.menu__item__left a:hover,
.menu__item__left ul li a:hover {
    transform: rotate(-5deg);
}

.menu__item__right ul li a:hover {
    transform: rotate(-10deg);
}

/* ---------------------------------- */
/* ---------- MINT SECTION ---------- */
/* ---------------------------------- */
.mint__section {
    width: 90%;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0px auto;
}

@media only screen and (min-width: 1000px) {
    .mint__section {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .mint__section {
        width: 60%;
    }
}

    .mint__section h1 {
        font-size: var(--ftsizeTitleSection);
        text-align: center;
        margin-bottom: 0px;
        color: #8B2931;
    }

    .mint__section p {
        color: #FFFFFF;
        margin-top: 0px;
        font-size: var(--ftsizeTextSection);
        text-align: center;
        margin-bottom: 2em;
    }

    .mint__section__buttonsframe {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .mint__section__buttonsframe div {
            position: relative;
            margin: 15px auto;
            width: clamp(200px, 30%, 400px);
            aspect-ratio: .75;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: #FFFFFF;
            border-radius: 40px;
        }

            .mint__section__buttonsframe div h2 {
                margin: 0px;
                text-align: center;
                color: #8B2931;
            }

    .mint__button__Eggimg {
        height: clamp(120px, 50%, 300px);
        aspect-ratio: 1;
    }

    .mint__button {
        position: absolute;
        bottom: 5%;
        cursor: pointer;
        text-decoration: none;
        line-height: 40px;
        text-align: center;
        color: white;
        width: clamp(150px, 75%, 250px);
        height: 40px;
        background-color: #EF2148;
        border-radius: 20px;
    }

.mint__section__buttonsframe__3 {
    background-image: url(content/images/discount10.webp);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 5px;
    background-position-y: 5px;
}

.mint__section__buttonsframe__10 {
    background-image: url(content/images/discount20.webp);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 5px;
    background-position-y: 5px;
}

/* ----------------------------------- */
/* -------------- ABOUT -------------- */
/* ----------------------------------- */

.about__section {
    width: 100%;
    background-image: url(content/images/dashed_path.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
.about__section__content {
    padding-top: 5em;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

@media only screen and (min-width: 1000px) {
    .about__section__content {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .about__section__content {
        width: 60%;
    }
}

.about__section__content div {
    margin: 0px auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about__section__content div img {
    display: none;
}




.about__section__text {
    margin: 0px auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__section__text h1 {
    transform: translateY(50%);
    color: #FFFFFF;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
    line-height: 140%;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #111111;
    background-color: #FFA208;
}

    .about__section__text p {
        margin-top: 0px;
        padding: 2em;
        text-align: justify;
        width: 100%;
        height: auto;
        border-radius: 20px;
        border: 3px solid #111111;
        background-color: #FFFFFF;
        box-shadow: rgba(10,10,10,1) -8px 8px;
        font-size: var(--ftsizeTextSection);
    }

    .ourCollection div p {
        box-shadow: rgba(10,10,10,1) 8px 8px;
    }

@media only screen and (min-width: 900px) {

    .about__section__content div img {
        display: block;
        margin: auto;
        height: clamp(300px, 20vw, 600px);
        aspect-ratio: 1;
    }

    .about__section__text {
        margin: 0px auto;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aboutUS div {
        max-width: 100%;
    }
}

/* ----------------------------------- */
/* --------- WHY OWN AN EGG ---------- */
/* ----------------------------------- */
.why__section {
    width: 100%;
    margin-bottom: 50px;
}

.why__section__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

@media only screen and (min-width: 1000px) {
    .why__section__content {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .why__section__content {
        width: 60%;
    }
}

.why__section__content h1 {
    font-size: var(--ftsizeTitleSection);
    text-align: center;
    margin-bottom: 0px;
    color: #8B2931;
}

.why__section__content p {
    margin-top: 0px;
    color: #FFFFFF;
    font-size: var(--ftsizeTextSection);
    text-align: center;
    margin-bottom: 2em;
}

.KeyPoints__row1, .KeyPoints__row2 {
    display: flex;
    flex-direction: column;
}


.KeyPoints__row1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 3px solid #8B2931;
    border-radius: 20px;
    flex: 1 0 0;
}

.KeyPoints__row2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: 3px solid #8B2931;
    border-radius: 20px;
    background-color: #FFA208;
    flex: 1 0 0;
}

@media only screen and (min-width: 450px) {
    .KeyPoints__row1, .KeyPoints__row2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .KeyPoints__row1 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        min-width: 400px;
        flex: 1 0 0;
    }

    .KeyPoints__row2 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        width: 30%;
        min-width: 290px;
        flex: 1 0 0;
    }
}


.KeyPoints__row1 div img, .KeyPoints__row2 div img {
    width: 150px;
    height: auto;
}

.KeyPoints__row1 div h2, .KeyPoints__row2 div h2 {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}


.KeyPoints__row1 div p, .KeyPoints__row2 div p {
    padding: 0px 20px 0px 20px;
    color: #FFFFFF;
    text-align: justify;
    font-size: var(--ftsizeTextSection);
}

.CookingClub {
    background-image: url(content/images/cooking_Background.webp);
    background-size: cover;
    background-position: center;
}

.OwnALand {
    background-image: url(content/images/land_background.webp);
    background-size: cover;
    background-position: center;
}

/* ----------------------------------- */
/* ------------- RARITY -------------- */
/* ----------------------------------- */
.rarity__section {
    width: 100%;
    margin-bottom: 50px;
}

.rarity__section__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

@media only screen and (min-width: 1000px) {
    .rarity__section__content {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .rarity__section__content {
        width: 60%;
    }
}

.rarity__section__content h1 {
    font-size: var(--ftsizeTitleSection);
    text-align: center;
    margin-bottom: 0px;
    color: #8B2931;
}

.rarity__section__content p {
    margin-top: 0px;
    color: #FFFFFF;
    font-size: var(--ftsizeTextSection);
    text-align: center;
    margin-bottom: 2em;
}

.rarity__section__content p mark {
    color: #FFFFFF;
    font-weight: bold;
}

.rarity__exemple {
    padding: 50px;
    width: 100%;
    background-image: url(content/images/rarity_background.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid #8B2931;
    border-radius: 10px;
}

.rarity__textFrame {
    margin: 20px 0px 20px 0px;
    padding: 20px;
    height: 100%;
    font-size: var(--ftsizeTextSection);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    border: 3px solid #FFFFFF;
    border-radius: 20px;
}

    .rarity__textFrame div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px dashed #FFFFFF
    }

    .ml10 {
        margin: 15px 0px 5px 25px;
    }

    .mr10 {
        margin: 15px 25px 5px 0px;
    }

.rarity__exemple img {
    width: clamp(200px, 50%, 400px);
    aspect-ratio: 1;
}

/* ----------------------------------- */
/* ------------- ROADMAP ------------- */
/* ----------------------------------- */
.roadmap__section {
    width: 100%;
    margin-bottom: 0px;
    background-color: #8B2931;
    position: relative;
}

.roadmap__section:before {
    content:"";
    position: absolute;
    top: -1px;
    left: 0px;
    height: 2px;
    width: 100%;
    background-color:#8B2931;
    pointer-events: none;
}

.roadmap__section__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 50px 0px 80px 0px;

}

@media only screen and (min-width: 1000px) {

    .roadmap__section {
        background-image: url(content/images/path_roadmap.webp);
        background-position-x: 5%;
        background-position-y: top;
        background-size: auto;
        background-repeat: repeat-y;
    }
    .roadmap__section__content {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .roadmap__section__content {
        width: 60%;
    }
}

.roadmap__section h1 {
    margin-bottom: 0px;
    text-align: center;
    font-size: var(--ftsizeTitleSection);
    color: #FFFFFF;
    transform: translateY(50%);

}

.roadmap__section__content div {
    padding-left: 15px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
}

.roadmap__section__content div h2 {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: var(--ftsizeSecondaryTitle);
}

.roadmap__section__content div span {
    color: #FFFFFF;
    font-size: var(--ftsizeTextSection);
    text-align: justify;
}

/* ----------------------------------- */
/* ------------- GALLERY ------------- */
/* ----------------------------------- */
.gallery__section {
    position: relative;
    width: 100%;
    height: clamp(300px, 50vw, 600px);
}


.animatedGallery {
    height: 100%;
    width: 100%;
    background: url(content/images/gallery.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: animatedGallery 600s linear infinite;
}

.animatedGallery div {
    width: 100%;
    height: 100%;
    background: url(content/images/galleryfilter.webp);
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: auto 200px;
    
}

@keyframes animatedGallery {
    from {
        background-position: 0 0;
    }
    /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
        background-position: -30000px 0;
    }
}

/* ----------------------------------- */
/* --------------- FAQ --------------- */
/* ----------------------------------- */
.faq__section:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0px;
    height: 20px;
    width: 100%;
    background-image: url(content/images/triangle1.webp);
    background-size: auto 20px;
    background-repeat: repeat-x;
    background-position-x: 0px;
    background-position-y: 0px;
    pointer-events: none;
}

.faq__section {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

.faq__section__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

@media only screen and (min-width: 1000px) {
    .faq__section__content {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .faq__section__content {
        width: 60%;
    }
}

.faq__section__content h1 {
    margin-bottom: 0px;
    width: 90%;
    text-align: left;
    font-size: var(--ftsizeTitleSection);
    color: #8B2931;
}

.faq__section__content div {
    margin: 15px;
    padding: 15px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: #111111 10px 10px;
}

.faq__section__content h2 {
    color: #111111;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: var(--ftsizeTextSection);
}

.faq__section__content p {
    margin-top: 5px;
    color: #111111;
    font-size: var(--ftsizeTextSection);
}

/* ----------------------------------- */
/* -------------- TEAM --------------- */
/* ----------------------------------- */
.team__section {
    width: 100%;
    margin-bottom: 50px;
}

.team__section__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

@media only screen and (min-width: 1000px) {
    .team__section__content {
        width: 75%;
    }
}

@media only screen and (min-width: 1440px) {
    .team__section__content {
        width: 60%;
    }
}

.team__section__content h1 {
    text-align: center;
    font-size: var(--ftsizeTitleSection);
    color: #FFFFFF;
    text-shadow: 4px 4px 1px #111111;
}

.team__section__content div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.team__section__content div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(200px, 20%, 500px);
    aspect-ratio: .75;
}

    .team__section__content div div img {
        margin-bottom: 10px;
        border-radius: 50%;
        height: clamp(100px, 60%, 500px);
    }

    .team__section__content div div a {
        padding: 5px;
        text-decoration: none;
        margin-bottom: 0px;
        font-size: var(--ftsizeTextSection);
        color: #FFFFFF;
    }

    .team__section__content div div h3 {
        margin-top: 5px;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: var(--ftsizeTextSection);
        color: #8B2931;
    }
.team__section__content p {
    margin-top: 40px;
    font-size: var(--ftsizeTextSection);
    color: #FFFFFF;
    text-align:center;
}

/* ----------------------------------- */
/* ------------- FOOTER -------------- */
/* ----------------------------------- */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8B2931;
    padding-top: 15px;
}

.contract {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contract h3 {
    margin-right: 5px;
    font-weight: bold;
    font-size: var(--ftsizeSmallText);
    color: #FFFFFF;
}

.contract span {
    font-size: var(--ftsizeSmallText);
    color: #FFFFFF;
}

.footer__Menu {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 15px 15px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1000px) {
    .footer__Menu {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 15px 15px 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.footer__Menu ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

    .footer__Menu ul li {
        margin-left: 10px;
        margin-right: 10px;
    }

.footer__logo {
    height: var(--menuLogoHeight);
}

.textlogo {
    height: var(--menuLogoHeight);
}